footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 40px 0;
}

footer .social-icons {
  font-size: 1.5rem;
  margin: 10px 0;
}

footer .social-icons a {
  margin: 0 15px;
  color: white;
  transition: color 0.3s;
}

footer .social-icons a:hover {
  color: #ff7e5f; /* Change color on hover */
}
